.app {
  text-align: center;
  font-family: Be Vietnam Pro,sans-serif;;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  font-weight: 700;
  font-size: 65px;
  color: #FFC045;
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.app-splash {
  background-color: #F1F1F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(9px + 2vmin);
  color: #57534E;
}

.app-splash header {
  margin-top: auto;
}

.app-splash footer {
  margin-bottom: 10px;
}

.app-splash footer .powered-by {
  font-size: .6em;
  margin-bottom: 5px;
}

.app-splash .content {
  margin: auto;
  margin-top: 0px;
}

.app-splash .content > div {
  margin-top: 4px;
}
.app-splash .content .sub {
  font-style: italic;
  margin-top: 10px;
}




.medium {
  font-size: .8em;
}

.small {
  font-size: .4em;
}

a {
  color: #FFC045;
}

a:visited {
  color: #f2af2a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
